.footer {
  width: $full;
  height: 400px;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  width: $max-width;
  margin: 80px auto 0 auto;
  height: 350px;
}

.copy-teambit {
  & > .logo-copy {
    float: left;
    height: 300px;
    & > img {
     width: 75px;
     margin-right: 20px;
    }
  }
  & > a {
    float: left;
    font-size: 18px;
    color: $bg-button_link;
  }
  & > span {
    margin-left: 5px;
    color: $color-text;
    font-size: 18px;
    font-weight: 600;
  }
}

.item-list {
  width: calc(70% / 5);
  height: 100%;
  & > span {
    display: block;
    color: $color-text;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  & > ul {
    list-style: none;
    & > li {
      margin-bottom: 15px;
      & > a {
        color: $color-text;
        font-size: 14px;
      }
    }
  }
}
