.logo > img {
  width: 120px;
}

.navbar {
  @include rules-flex-space;
  width: $max-width;
  height: 35px;
  border: $border-test;
  & > .menu {
    display: flex;
    & > ul {
      list-style: none;
      & > li {
        display: inline-block;
        & > a {
          margin-right: 30px;
          text-decoration: none;
          color: $color-text;
        }
      }
    }
  }
}
