.section-2 {
  width: $full;
  height: 1930px;
  background-color: $bg-section;
  padding-top: 80px;
}

.container-2 {
  width: $max-width;
  margin: 0 auto;
  height: 100%;
  border: $border-test;
  & > h2 {
    color: $color-text;
    text-align: center;
    font-size: $h2-size;
    margin-bottom: 45px;
  }
  & > img {
    width: 300px;
    display: block;
    margin: auto;
  }
  & > hr {
    width: 100%;
    margin: 80px 0;
    border: $hr;
  }
  & > span {
    display: block;
    margin: 100px auto 0 auto;
    text-align: center;
    color: $color-text;
    font-size: $h2-size;
    font-weight: 600;
  }
}

.block:nth-child(2), .block:nth-child(8) {
  margin-left: 60px;
}

.block {
  float: left;
  height: 270px;
  width: calc((100% / 3) - 80px);
  margin: 0 60px 36px 0;
  border: $border-test;
  & > img {
    display: block;
    margin: 20px auto;
    width: 120px;
    height: 90px;
  }
  & > h3 {
    text-align: center;
    font-weight: 400;
    color: $color-text;
    font-size: $h3-size;
  }
}
