$color-text: #040F0F;
$h1-size: 50px;
$size-text-button: 14px;
$color-text-button: #FFFFFF;
$bg-button_link: #4466D4;
$bg-section: #7F14D4;
$border-color-button: 1px solid #304990;
$text-bg-button: #304990;
$hr: 1px solid #BDB5AF;
$border-radius: 7px;
$full: 100%;
$border-test: 1px solid black;
$max-width: 1150px;
