$color-text: #040F0F;
$h1-size: 50px;
$h2-size: 26px;
$h3-size: 18px;
$p-size: 22px;
$size-text-button: 14px;
$color-text-button: #FFFFFF;
$bg-button_link: #4466D4;
$bg-section: #7F14D4;
$border-color-button: 1px solid #0E14EE;
$text-bg-button: #0E14EE;
$hr: 1px solid #0E14EE;
$border-radius: 7px;
$full: 100%;
$border-test: 1px solid black;
$max-width: 1150px;
