* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "HarmoniaSansProCyrRegular", Arial, sans-serif;
  text-decoration: none;
}

@import "_variables";
@import "_common";
@import "_header";
@import "_navbar";
@import "_section1";
@import "_section2";
@import "_section3";
@import "_section4";
